[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow-datasets = "*"
tensorflow = "*"
tensorflow-text = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.3"

[scripts]
lint = "flake8 --show-source ."
format = "autopep8 -ivr ."
